<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoBackup.Properties.Settings>
            <setting name="BackupDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoriesToBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="NumBackups" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSuccessfulBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="LastResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorMessage" serializeAs="String">
                <value />
            </setting>
        </AutoBackup.Properties.Settings>
    </userSettings>
</configuration>